<div class="auth-main">
  <div class="auth-block">
    <h1>Восстановление пароля</h1>
    <a routerLink="/login" class="auth-link">Вернуться на страницу входа</a>

    <form [formGroup]="form" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <label for="inputEmail3" class="col-sm-2 control-label">Почта</label>

        <div class="col-sm-10">
          <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <span class="help-block" style="">{{message}}</span>
        </div>
      </div>
      <div class="form-group row">
        <div [hidden]="!showCaptcha" class="offset-sm-1 col-sm-6">
          <re-captcha site_key="6LeLKREUAAAAAH3JnoS7Cm9254U5jAAnWnh_EtSQ" theme="dark" (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha>
        </div>
        <div [hidden]="showCaptcha" class="col-sm-offset-2 col-sm-10">
          <button [disabled]="!form.valid" (click)="handleRestore()" class="btn btn-default btn-auth">Отправить</button>
        </div>
      </div>
    </form>

    <!--<div class="auth-sep"><span><span>или зайди в один клик</span></span></div>

    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="Войти через Фейсбук"></i></li>
        <li><i class="socicon socicon-vkontakte" title="Войти через ВК"></i></li>
      </ul>
    </div>-->
  </div>
</div>
