<div class="widgets">
  <div class="row">
    <div class="col-xs-10 col-sm-6 col-md-4 pull-left">
      <ba-card>
        Инвайтов осталось - {{invitesLeft}}
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"> 
      <ba-card title="" baCardClass="with-scroll">
        <ng2-smart-table [settings]="settings"
        [source]="source" 
        (deleteConfirm)="onDeleteConfirm($event)"
        (editConfirm)="onRowEdit($event)"
        (createConfirm)="onRowCreate($event)"
        (userRowSelect)="onRowSelect($event)"
        ></ng2-smart-table>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ba-card [hidden]="!message">
        {{message}}
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 pull-left">
      <ba-card>
        <button style="width:100%" (click)="getInvite()" type="button" class="btn btn-default btn-lg">{{getInvitesButtonMessage}}</button>
      </ba-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pull-left">
      <ba-card>
        <button style="width:100%" (click)="sendInvite()" type="button" class="btn btn-default btn-lg">{{sendInviteButtonMessage}}</button>
      </ba-card>
    </div>
  </div>
</div>
