<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row pie-charts">
      <ba-card *ngFor="let link of links" (click)="navigateTo(link.link)" class="pointer pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="pie-chart-item">
          <div class="description">
            <!--<div>Сменить пароль, сменить почту</div>-->
            <div class="description-stats">{{link.text}}</div>
          </div>
          <div class="chart-icon kameleon-icon with-round-bg info"><img src="assets/img/theme/icon/k2/{{link.icon}}"></div>
        </div>
      </ba-card>
    </div>
  </div>
</div>

