<div class="widgets">

  <div class="row">
    <ba-card title="" baCardClass="with-scroll">
      <ng2-smart-table [settings]="settings"
       [source]="source" 
       (deleteConfirm)="onDeleteConfirm($event)"
       (editConfirm)="onRowEdit($event)"
       (createConfirm)="onRowCreate($event)"
       ></ng2-smart-table>
    </ba-card>
  </div>
  <div class="row">
    <ba-card [hidden]="!message">
      {{message}}
    </ba-card>
  </div>

</div>
