<div class="auth-main">
    <div class="auth-block">
        <h1>Вход в личный кабинет L24u</h1>
        <a routerLink="/register" class="auth-link">Ещё нет аккаунта? Регистрируйся!</a>

        <form [formGroup]="form" class="form-horizontal">
            <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                <label for="inputEmail3" class="col-sm-2 control-label">Логин</label>

                <div class="col-sm-10">
                    <input [formControl]="email" type="text" class="form-control" id="inputEmail3" placeholder="Логин, имя аккаунта">
                    <i *ngIf="email.errors && (email.dirty || email.touched)" aria-hidden="true" class="ion-alert-circled form-control-feedback"></i>
                    <i *ngIf="!email.errors" aria-hidden="true" class="ion-checkmark-circled form-control-feedback"></i>
                </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>

                <div class="col-sm-10">
                    <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Пароль">
                    <i *ngIf="password.errors && (password.dirty || password.touched)" aria-hidden="true" class="ion-alert-circled form-control-feedback"></i>
                    <i *ngIf="!password.errors" aria-hidden="true" class="ion-checkmark-circled form-control-feedback"></i>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <span class="help-block" style="">{{message}}</span>
                </div>
            </div>
            <div class="form-group row">
                <div [hidden]="fails < 3" class="offset-sm-1 col-sm-6">
                    <re-captcha site_key="6LeLKREUAAAAAH3JnoS7Cm9254U5jAAnWnh_EtSQ" theme="dark" (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button [disabled]="!form.valid || disableButton" (click)="login()" class="btn btn-default btn-auth">{{buttonMessage}}</button>
                </div>
                <a routerLink="/pass" class="forgot-pass">Забыл пароль?</a>
            </div>
        </form>

        <!--<div class="auth-sep"><span><span>или зайди в один клик</span></span></div>

    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="Войти через Фейсбук"></i></li>
        <li><i class="socicon socicon-vkontakte" title="Войти через ВК"></i></li>
      </ul>
    </div>-->
    </div>
</div>