@import "theme/theme";
.card {
    $blurredBgUrl: 'assets/img/blur-bg-blurred.jpg';
    background: url($blurredBgUrl);
    transition: none;
    background-attachment: fixed;
    .card-header,
    .card-footer {
        background: transparent;
    }
}

footer {
    position: fixed !important;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.12);
    min-height: 40px;
}

.al-footer-right,
.al-footer-main {
    padding-top: 10px;
}

.pointer {
    cursor: pointer;
}


/*------------------------------------------------------------------

  Page Border

 -------------------------------------------------------------------*/

.nk-page-border .nk-page-border-t,
.nk-page-border .nk-page-border-r,
.nk-page-border .nk-page-border-b,
.nk-page-border .nk-page-border-l {
    position: fixed;
    z-index: 2000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    pointer-events: none;
    background-size: 100% 100%;
}

.nk-page-border .nk-page-border-t,
.nk-page-border .nk-page-border-b {
    left: 0;
    width: 100%;
}

.nk-page-border .nk-page-border-t {
    top: 0;
    background-image: url("./assets/img/border-top.png");
}

.nk-page-border .nk-page-border-b {
    bottom: 0;
    background-image: url("./assets/img/border-bottom.png");
}

.nk-page-border .nk-page-border-r,
.nk-page-border .nk-page-border-l {
    top: 0;
    height: 100%;
}

.nk-page-border .nk-page-border-r {
    right: 0;
    background-image: url("./assets/img/border-right.png");
}

.nk-page-border .nk-page-border-l {
    left: 0;
    background-image: url("./assets/img/border-left.png");
}

.nk-page-border .nk-page-border-t,
.nk-page-border .nk-page-border-b {
    height: 100px;
}

.nk-page-border .nk-page-border-r,
.nk-page-border .nk-page-border-l {
    width: 100px;
}

@media (max-width: 543px) {
    .nk-page-border .nk-page-border-t,
    .nk-page-border .nk-page-border-b {
        height: 50px;
    }
    .nk-page-border .nk-page-border-r,
    .nk-page-border .nk-page-border-l {
        width: 50px;
    }
}