<div class="auth-main">
    <div class="auth-block">
        <h1>Регистрация на L24u</h1>
        <a routerLink="/login" class="auth-link">Уже есть аккаунт? Заходи!</a>

        <form [formGroup]="form" disabled class="form-horizontal">
            <div class="form-group row" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                <label for="inputName3" class="col-sm-2 control-label">Имя</label>

                <div class="col-sm-10">
                    <input [formControl]="name" type="text" class="form-control" id="inputName3" placeholder="Полное имя">
                </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                <label for="inputEmail3" class="col-sm-2 control-label">Почта</label>

                <div class="col-sm-10">
                    <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Электронная почта">
                </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>

                <div class="col-sm-10">
                    <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Пароль">
                </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
                <label for="inputPassword4" class="col-sm-2 control-label">Повторить</label>
                <div class="col-sm-10">
                    <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4" placeholder="Повторить пароль">
                    <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">Пароли не совпадают.</span>
                </div>
            </div>
            <!--<div class="form-group row" [ngClass]="{'has-error': (!code.valid && code.touched), 'has-success': (code.valid && code.touched)}">
        <label for="inputName7" class="col-sm-2 control-label">Код</label>
        <div class="col-sm-10">
          <input [formControl]="code" type="text" class="form-control" id="inputName7" placeholder="Пример 123e4567-e89b-12d3-a456-426655440000">
        </div>
      </div>-->
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <span class="help-block" style="color:red">{{error}}</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <div class="offset-sm-1 col-sm-6">
                        <re-captcha [hidden]="!showCaptcha" site_key="6LeLKREUAAAAAH3JnoS7Cm9254U5jAAnWnh_EtSQ" theme="dark" (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha>
                    </div>
                    <button [disabled]="!form.valid || disableButton" [hidden]="showCaptcha" (click)="showCaptcha = true" class="btn btn-default btn-auth">{{buttonMessage}}</button>
                </div>
            </div>
        </form>

        <!--<div class="auth-sep"><span><span>или зарегистрируйся в один клик!</span></span></div>

    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="Регистрация через Фейсбук"></i></li>
        <li><i class="socicon socicon-vkontakte" title="Регистрация через ВК"></i></li>
      </ul>
    </div>-->
    </div>
</div>