

<ba-card title="Large Buttons" baCardClass="with-scroll large-buttons-panel">
  <div class="row btns-row btns-same-width-lg">
    <div class="col-sm-4 col-xs-6">
      Подтянуть с бд к нам <button type="button" (click)="syncNow()" class="btn btn-primary btn-lg">{{message}}</button>
    </div>
    <!--<div class="col-sm-4 col-xs-6">
      <button type="button" class="btn btn-success btn-lg">Success</button>
    </div>
    <div class="col-sm-4 col-xs-6">
      <button type="button" class="btn btn-info btn-lg">Info</button>
    </div>
    <div class="col-sm-4 col-xs-6">
      <button type="button" class="btn btn-default btn-lg">Default</button>
    </div>
    <div class="col-sm-4 col-xs-6">
      <button type="button" class="btn btn-warning btn-lg">Warning</button>
    </div>
    <div class="col-sm-4 col-xs-6">
      <button type="button" class="btn btn-danger btn-lg">Danger</button>
    </div>-->
  </div>  
</ba-card>