<div class="widgets">
  <div class="row">
    <!--<div class="col-md-6">
      <ba-card title="Текущие значения" baCardClass="with-scroll">
        <div class="form-group" >
          <label class="control-label" for="inputLogin">Логин</label>
          <input type="text" class="form-control" id="inputLogin" disabled>
        </div>
        <div class="form-group" >
          <label class="control-label" for="inputEmail">Почта</label>
          <input type="email" class="form-control" id="inputEmail" disabled>
        </div>
        <div class="form-group" >
          <label class="control-label" for="inputPassword">Пароль</label>
          <input type="password" class="form-control" id="inputPassword" disabled>
        </div>
      </ba-card>
    </div>-->
    <!--<div class="col-md-12">
      <ba-card title="Поля для изменения" baCardClass="with-scroll">
        <div class="form-group has-feedback has-warning" >
          <label class="control-label" for="inputLogin">Логин</label>
          <input type="text" class="form-control" id="inputLogin">
          <i class="ion-alert-circled form-control-feedback" aria-hidden="true"></i>
          <span id="inputWarning2Status" class="sr-only">(warning)</span>
        </div>
        <div class="form-group" >
          <label class="control-label" for="inputEmail">Почта</label>
          <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="form-group" >
          <label class="control-label" for="inputPassword">Пароль</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
        <label class="control-label" for="inputWarning2">Input with warning</label>
      </ba-card>
    </div>
  </div>-->
  <div class="col-md-6">
    <ba-card>
      <form [formGroup]="form" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
        <label for="inputName3" class="col-sm-2 control-label">Имя</label>

        <div class="col-sm-10">
          <input [formControl]="name" type="text" class="form-control" id="inputName3" disabled placeholder="Полное имя">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <label for="inputEmail3" class="col-sm-2 control-label">Почта</label>

        <div class="col-sm-10">
          <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Электронная почта">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>

        <div class="col-sm-10">
          <input [formControl]="password" type="text" class="form-control" id="inputPassword3" placeholder="Пароль">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <span class="help-block" style="color:red">{{error}}</span>
        </div>
      </div>
    </form>
    </ba-card>
  </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 pull-left">
      <ba-card>
        <button style="width:100%" (click)="saveChanges()" type="button" class="btn btn-default btn-lg">{{message}}</button>
      </ba-card>
    </div>
  </div>
</div>