<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"> </a>
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>L24u </span>Личный кабинет</a>
 

  <!--<div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>-->

  <div (click)=profileClick() class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ ( 'blank' | baProfilePicture: 'jpg' ) }}">
        <div class="no-image-profile-text">{{user != null ? user.name[0].toUpperCase() : '' }}</div>
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <!--<li class="dropdown-item"><i class="dropdown-arr"></i></li>
        <li class="dropdown-item"><a href><i class="fa fa-user"></i>Профиль</a></li>
        <li class="dropdown-item"><a href><i class="fa fa-cog"></i>Настройки</a></li>-->
        <li class="dropdown-item"><a href class="signout" (click)="logout()"><i class="fa fa-power-off"></i>Выйти</a></li>
      </ul>
    </div>
    <!--<ba-msg-center></ba-msg-center>-->
  </div>
</div>
