<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="_csrf">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>">
    <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
    <% if (webpackConfig.htmlElements.headTags) { %>
        <!-- Configured Head Tags  -->
        <%= webpackConfig.htmlElements.headTags %>
            <% } %>

                <!-- base url -->
                <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body>

    <app>
    </app>

    <div id="preloader">
        <div></div>
    </div>

    <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
        <!-- Webpack Dev Server reload -->
        <script src="/webpack-dev-server.js"></script>
        <% } %>
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
            <!-- START: Page Border -->
            <div class="nk-page-border">
                <div class="nk-page-border-t"></div>
                <div class="nk-page-border-r"></div>
                <div class="nk-page-border-b"></div>
                <div class="nk-page-border-l"></div>
            </div>
            <!-- END: Page Border -->
</body>

</html>