<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row pie-charts">
      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="pie-chart-item">
          <div class="description">
            <!--<div>Сменить пароль, сменить почту</div>-->
            <div class="description-stats">Управление профилем</div>
          </div>
          <div class="chart-icon kameleon-icon with-round-bg info"><img src="assets/img/theme/icon/kameleon/Ninja.svg"></div>
        </div>
      </ba-card>
      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="pie-chart-item">
          <div class="description">
            <!--<div>Просмотреть список</div>-->
            <div class="description-stats">Управление инвайтами</div>
          </div>
          <div class="chart-icon kameleon-icon with-round-bg info"><img src="assets/img/theme/icon/kameleon/Batman.svg"></div>
        </div>
      </ba-card>
      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="pie-chart-item">
          <div class="description">
            <!--<div>Просмотреть список</div>-->
            <div class="description-stats">Файлы для игры</div>
          </div>
          <div class="chart-icon kameleon-icon with-round-bg info"><img src="assets/img/theme/icon/kameleon/Chessboard.svg"></div>
        </div>
      </ba-card>
    </div>
  </div>
</div>

