@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}


@import "../../theme/sass/conf/conf";

.pie-charts {
  color: $content-text;

  .pie-chart-item-container {
    position: relative;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;

    .card {
      height: 114px;
    }
  }

  @media screen and (min-width: 1325px) {
    .pie-chart-item-container {
      width: 25%;
      flex: 0 0 25%
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1325px)  {
    .pie-chart-item-container {
      width: 50%;
      flex: 0 0 50%
    }
  }
  @media screen and (max-width: 700px)  {
    .pie-chart-item-container {
      width: 100%;
      flex: 0 0 100%
    }
  }

  .pie-chart-item {
    position: relative;
    .chart-icon {
      position: absolute;
      right: -30px;
      top: -15px;
    }
  }
  @media screen and
  (min-width: 1325px) and (max-width: 1650px),
  (min-width: 700px) and (max-width: 830px),
  (max-width: 400px) {
    .chart-icon {
      display: none;
    }
  }

  .chart {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 84px;
    text-align: center;
    float: left;
  }
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .percent {
    display: inline-block;
    line-height: 84px;
    z-index: 2;
    font-size: 16px;
  }
  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }
  .description {
    display: inline-block;
    padding: 20px 0 40px 20px;
    font-size: 18px;
    opacity: 0.9;
    .description-stats {
      padding-top: 17px;
      font-size: 24px;
    }
  }
  .angular {
    margin-top: 100px;
  }
  .angular .chart {
    margin-top: 0;
  }
}
